.vscode
.venv
.mypy_cache
go.work
go.work.sum
.idea/
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
workers/java/bin
workers/java/build

/loadgen/kitchen-sink-gen/target/
/workers/dotnet/obj/
/workers/dotnet/bin/
/last_fuzz_run.proto
