name: Build all language docker images
on:
  workflow_call:
    # TODO: Can eventually support repo refs too rather than just versions if/when we need that.
    inputs:
      go-version:
        description: Go SDK version to build. Skipped if not specified. Must start with v.
        type: string
      py-version:
        description: Python SDK version to build. Skipped if not specified. Must start with v.
        type: string
      java-version:
        description: Java SDK version to build. Skipped if not specified. Must start with v.
        type: string
      ts-version:
        description: TypeScript SDK version to build. Skipped if not specified. Must start with v.
        type: string
      dotnet-version:
        description: Dotnet SDK version to build. Skipped if not specified. Must start with v.
        type: string
      do-push:
        description: If set, push the built images to Docker Hub.
        type: boolean
        default: false
      as-latest:
        description: If set, tag the images as latest for the lang ('<lang>-latest').
        type: boolean
        default: false
  # To support manual triggering:
  # AFAICT there is no way to avoid repeating all these inputs over and over w/o resorting to templating
  workflow_dispatch:
    inputs:
      go-version:
        description: Go SDK version to build. Skipped if not specified. Must start with v.
        type: string
      py-version:
        description: Python SDK version to build. Skipped if not specified. Must start with v.
        type: string
      java-version:
        description: Java SDK version to build. Skipped if not specified. Must start with v.
        type: string
      ts-version:
        description: TypeScript SDK version to build. Skipped if not specified. Must start with v.
        type: string
      dotnet-version:
        description: Dotnet SDK version to build. Skipped if not specified. Must start with v.
        type: string
      do-push:
        description: If set, push the built images to Docker Hub.
        type: boolean
        default: false
      as-latest:
        description: If set, tag the images as latest for the lang ('<lang>-latest').
        type: boolean
        default: false

jobs:
  build-go-docker-images:
    if: inputs.go-version
    uses: ./.github/workflows/docker-images.yml
    secrets: inherit
    with:
      build-command: build-worker-image
      push-command: build-push-worker-image
      lang: go
      sdk-version: ${{ inputs.go-version }}
      do-push: ${{ inputs.do-push }}
      as-latest: ${{ inputs.as-latest }}

  build-python-docker-images:
    if: inputs.py-version
    uses: ./.github/workflows/docker-images.yml
    secrets: inherit
    with:
      build-command: build-worker-image
      push-command: build-push-worker-image
      lang: python
      sdk-version: ${{ inputs.py-version }}
      do-push: ${{ inputs.do-push }}
      as-latest: ${{ inputs.as-latest }}

  build-java-docker-images:
    if: inputs.java-version
    uses: ./.github/workflows/docker-images.yml
    secrets: inherit
    with:
      build-command: build-worker-image
      push-command: build-push-worker-image
      lang: java
      sdk-version: ${{ inputs.java-version }}
      do-push: ${{ inputs.do-push }}
      as-latest: ${{ inputs.as-latest }}

  build-typescript-docker-images:
    if: inputs.ts-version
    uses: ./.github/workflows/docker-images.yml
    secrets: inherit
    with:
      build-command: build-worker-image
      push-command: build-push-worker-image
      lang: typescript
      sdk-version: ${{ inputs.ts-version }}
      do-push: ${{ inputs.do-push }}
      as-latest: ${{ inputs.as-latest }}

  build-dotnet-docker-images:
    if: inputs.dotnet-version
    uses: ./.github/workflows/docker-images.yml
    secrets: inherit
    with:
      build-command: build-worker-image
      push-command: build-push-worker-image
      lang: dotnet
      sdk-version: ${{ inputs.dotnet-version }}
      do-push: ${{ inputs.do-push }}
      as-latest: ${{ inputs.as-latest }}

  build-cli-docker-images:
    uses: ./.github/workflows/docker-images.yml
    secrets: inherit
    with:
      build-command: build-cli-image
      push-command: build-push-cli-image
      do-push: ${{ inputs.do-push }}
      as-latest: ${{ inputs.as-latest }}
